* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *::selection {
  background-color: orange;
  color: #fff;
} */

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

/* skew section */
.skew {
  position: absolute;
  width: 100%;
  height: 50vh;
  background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transform-origin: top left;
  transform: skewY(-7deg);
  z-index: -1;
}

/* header section */
header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h2 {
  color: #fff;
  font-weight: 400;
}

nav * {
  margin-left: 30px;
}

.container {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
}

.container img {
  width: 500px;
  display: flex;
}

.container .card {
  width: 25pc;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  padding: 20px;
}

.card h2 {
  color: #fff;
  font-weight: 400;
}
